node_modules
.DS_Store
dist
*.local
.vite-inspect
.remote-assets
components.d.ts
/coverage
/src/client/shared.ts
/src/node/shared.ts
*.log
*.tgz
.idea
.temp
.vite_opt_cache
.vscode
cache
temp
examples-temp
pnpm-global
TODOs.md
*.timestamp-*.mjs